//    .{{'{{title}}'}}
//        |===
//        |Path|Type|Description|Constraints|Optional
//
//    {{'{{ #fields }}'}}
//        |{{'{{path}}'}}
//        |{{'{{type}}'}}
//        |{{'{{description}}'}}
//        |{{'{{ #constraints }}'}}{{'{{.}}'}}{{'{{ /constraints }}'}}
//        |{{'{{optional}}'}}
//
//
//    {{'{{ /fields }}'}}
//
//        |===
//
//
//


//
//    .{{title}}
//    |===
//    |Path|Type|Description|Constraints
//
//{{#fields}}
//    |{{path}}
//    |{{type}}
//    |{{description}}
//    |{{constraints}}
//
//{{/fields}}
//    |===